article {
    display: flex;
}

    article > div {
        margin: auto;
        padding: 2rem 0.5rem 0 0.5rem;
    }

        article > div > p {
            margin: 0;
            text-align: justify;
            text-indent: 50px;
        }

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto 0.5rem auto 2rem;
}

    .links > div {
        margin: 1rem 0;
    }

    .links svg {
        color: var(--md-sys-color-primary);
    }

    .links md-filled-tonal-button div {
        padding: 0.5rem;
    }

    .links ::deep md-filled-tonal-button {
        height: auto;
    }

    .links p {
        margin: auto;
        font-size: 1.8rem;
        color: var(--md-sys-color-primary);
        text-align: center;
        align-items: center;
    }

@media (max-width: 768px) {
    main {
        padding: 0 5vw;
    }

    .links {
    }
}
