article {
    display: flex;
    flex-direction: column;
}

    article > div > p {
        text-align: center;
    }

    article > ::deep a {
        margin: 1rem auto;
    }

    article > ::deep svg {
        margin-right: 0.5rem;
    }

    article > p {
        margin-block-end: 0;
        text-indent: 50px;
    }

    article > .links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem auto;
        width: 50%;
    }

        article > .links div {
            display: flex;
        }

::deep .btn-contact > div {
    flex-direction: row;
    align-items: center;
}

::deep svg {
    color: var(--md-sys-color-primary);
}

::deep p {
    color: var(--md-sys-color-primary);
}

@media (max-width: 768px) {
    main {
        padding: 0 5vw;
    }
}
