@page "/Contact"

<PageTitle>Contact</PageTitle>

<main>
    <Header>
        <h1 class="m-0 mb-8">Jean-Baptiste Mériaux</h1>

        <h4 class="m-0 text-3vw">Développeur full stack</h4>
    </Header>

    <article>
        <div>
            <p>Pour me contacter, veuillez privilégier les mails.</p>
        </div>
        <NavLink href="mailto:jbmerio@proton.me" target="_blank">
            <FilledTonalButton class="btn-contact">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 32 32"><path fill="currentColor" d="M18 13a1 1 0 0 1 1-1h6a1 1 0 0 1 0 2h-6a1 1 0 0 1-1-1Zm1 4a1 1 0 1 0 0 2h6a1 1 0 0 0 0-2h-6Zm-6-4a2 2 0 1 1-4 0a2 2 0 0 1 4 0Zm-6 4.5A1.5 1.5 0 0 1 8.5 16h5a1.5 1.5 0 0 1 1.5 1.5s0 3.5-4 3.5s-4-3.5-4-3.5ZM2 7.25A3.25 3.25 0 0 1 5.25 4h21.5A3.25 3.25 0 0 1 30 7.25v17.5A3.25 3.25 0 0 1 26.75 28H5.25A3.25 3.25 0 0 1 2 24.75V7.25ZM5.25 6C4.56 6 4 6.56 4 7.25v17.5c0 .69.56 1.25 1.25 1.25h21.5c.69 0 1.25-.56 1.25-1.25V7.25C28 6.56 27.44 6 26.75 6H5.25Z" /></svg>
                    <p>Me contacter</p>
                </div>
            </FilledTonalButton>
        </NavLink>
        <div>
            <p>Pour suivre mon travail, veuillez cliquer sur les différents liens ci-dessous.</p>
        </div>
        <div class="links">
            <div>
                <NavLink href="#" target="_blank">
                    <FilledTonalButton>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="57.8" viewBox="0 0 300 276"><path fill="currentColor" d="m236 0h46l-101 115 118 156h-92.6l-72.5-94.8-83 94.8h-46l107-123-113-148h94.9l65.5 86.6zm-16.1 244h25.5l-165-218h-27.4z" /></svg>
                        </div>
                    </FilledTonalButton>
                </NavLink>
            </div>
            <div>
                <NavLink href="https://www.linkedin.com/in/jbmeriaux/" target="_blank">
                    <FilledTonalButton>
                        <div id="toto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 75.7673 76.248">
                                <g transform="matrix(1, 0, 0, 1, -243.835662841797, -395.745697021484)" style="transform-origin: 243.836px 395.746px;">
                                    <g transform="matrix(1.018827,0,0,-1.018827,0,498.03288)">
                                        <path fill="currentColor" d="m 239.3298,95.036 c 0,2.96 2.4604,5.361 5.4956,5.361 l 63.376,0 c 3.0351,0 5.4956,-2.401 5.4956,-5.361 l 0,-64.117 c 0,-2.961 -2.4605,-5.361 -5.4956,-5.361 l -63.376,0 c -3.0352,0 -5.4956,2.4 -5.4956,5.361 l 0,64.117 z" />
                                        <path fill="#ffffff" d="m 261.8728,37.749 0,33.794 -11.2325,0 0,-33.794 11.2325,0 z m -5.6163,38.408 c 3.917,0 6.355,2.595 6.355,5.838 -0.073,3.316 -2.438,5.839 -6.2807,5.839 -3.8423,0 -6.3545,-2.523 -6.3545,-5.839 0,-3.243 2.4375,-5.838 6.207,-5.838 l 0.073,0 z" />
                                        <path fill="#ffffff" d="m 268.0881,37.749 11.2324,0 0,18.872 c 0,1.01 0.073,2.019 0.3696,2.741 0.812,2.018 2.6602,4.108 5.7632,4.108 4.0645,0 5.6904,-3.099 5.6904,-7.642 l 0,-18.079 11.2315,0 0,19.377 c 0,10.38 -5.5415,15.21 -12.9316,15.21 -6.0596,0 -8.7198,-3.387 -10.1978,-5.694 l 0.075,0 0,4.901 -11.2324,0 c 0.1474,-3.171 0,-33.794 0,-33.794 z" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </FilledTonalButton>
                </NavLink>
            </div>
            <div>
                <NavLink href="https://ko-fi.com/jbmerio" target="_blank">
                    <FilledTonalButton>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 20 13.12"><g><path fill="currentColor" d="M15.54,7.29a5.87,5.87,0,0,1-1.33,0V2.82h.9a2,2,0,0,1,2.06,2.09,2.21,2.21,0,0,1-1.63,2.38m3.87-3.15a4.34,4.34,0,0,0-1.78-2.8A4.8,4.8,0,0,0,14.91.5H1.17a.72.72,0,0,0-.67.71s0,.15,0,.15,0,6.08,0,9.33A2,2,0,0,0,2.58,12.6l9.28,0a3,3,0,0,0,.42-.05,2.65,2.65,0,0,0,1.87-2.91c3.44.19,5.87-2.24,5.26-5.47" /><path fill="#ffffff" d="M7.24,10.08a.19.19,0,0,0,.24,0s2.19-2,3.17-3.14a2.1,2.1,0,0,0-.57-3.41,2.57,2.57,0,0,0-2.74.76A2.41,2.41,0,0,0,3.89,4,2.43,2.43,0,0,0,4,6.88C4.49,7.6,6.8,9.66,7.15,10l.09.07" /></g></svg>
                        </div>
                    </FilledTonalButton>
                </NavLink>
            </div>
        </div>
    </article>
</main>