@page "/MyWork"

<PageTitle>Mes réalisations</PageTitle>

<main>
    <Header>
        <h1 class="m-0 mb-8">Jean-Baptiste Mériaux</h1>

        <h4 class="m-0 text-3vw">Développeur full stack</h4>
    </Header>

    <article>
        <p>
            Après une année d'alternance pendant laquelle j'ai réalisé une WebApp en ASP.NET MVC
            permettant de gérer des formulaires de demande de développement pour les différents services de la Carsat BFC,
            j'ai été embauché en tant que consultant technique chez Sogeti (ex Altran).
        </p>
        <p>
            J'ai été envoyé en mission chez APRR où j'ai eu le rôle de lead developer dans une équipe de 4.<br />
            Ma 1ère mission, qui a duré 1 an, a été de réécrire un logiciel de gestion de transactions télépéage en WPF.<br />
            Ma seconde mission, qui a duré 2 ans, a consisté au développement du SI de paiement selon l’immatriculation,
            dans le cadre du Flux Libre (remplacement des barrières de péages par des portiques).
            Pour les développements, j'ai principalement utilisé le WPF et l'ASP.NET Core.
        </p>
        <p>
            Depuis 2022, je fais du maintient en contition opérationnel ainsi que du développement d’évolutions pour le Service Logiciels Péage.<br />
            Depuis 2023, je suis également référent Azure DevOps.<br />
            Au fur et à mesure de mes mission, de plus en plus de responsabilités m'ont été accordées, jusqu'à faire de la gestion de projet.
        </p>
        <p>
            Enfin, dans le but de mettre en avant mon travail passé et futur, j'ai développé le site sur lequel vous naviguez actuellement.<br />
            Si vous souhaitez me contacter, quelle que soit la raison, cliquez sur le bouton ci-dessous.
        </p>

        <NavLink href="Contact">
            <FilledTonalButton class="btn-contact">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 32 32"><path fill="currentColor" d="M18 13a1 1 0 0 1 1-1h6a1 1 0 0 1 0 2h-6a1 1 0 0 1-1-1Zm1 4a1 1 0 1 0 0 2h6a1 1 0 0 0 0-2h-6Zm-6-4a2 2 0 1 1-4 0a2 2 0 0 1 4 0Zm-6 4.5A1.5 1.5 0 0 1 8.5 16h5a1.5 1.5 0 0 1 1.5 1.5s0 3.5-4 3.5s-4-3.5-4-3.5ZM2 7.25A3.25 3.25 0 0 1 5.25 4h21.5A3.25 3.25 0 0 1 30 7.25v17.5A3.25 3.25 0 0 1 26.75 28H5.25A3.25 3.25 0 0 1 2 24.75V7.25ZM5.25 6C4.56 6 4 6.56 4 7.25v17.5c0 .69.56 1.25 1.25 1.25h21.5c.69 0 1.25-.56 1.25-1.25V7.25C28 6.56 27.44 6 26.75 6H5.25Z" /></svg>
                    <p>
                        Me contacter
                    </p>
                </div>
            </FilledTonalButton>
        </NavLink>
    </article>
</main>