:root {
  --md-source: #98B7A6;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #00150C;
  --md-ref-palette-primary10: #002115;
  --md-ref-palette-primary20: #003826;
  --md-ref-palette-primary25: #00452F;
  --md-ref-palette-primary30: #005139;
  --md-ref-palette-primary35: #005F42;
  --md-ref-palette-primary40: #006C4C;
  --md-ref-palette-primary50: #008861;
  --md-ref-palette-primary60: #2BA379;
  --md-ref-palette-primary70: #4DBF92;
  --md-ref-palette-primary80: #6BDBAC;
  --md-ref-palette-primary90: #88F8C7;
  --md-ref-palette-primary95: #BDFFDE;
  --md-ref-palette-primary98: #E8FFF0;
  --md-ref-palette-primary99: #F4FFF6;
  --md-ref-palette-primary100: #FFFFFF;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #01150C;
  --md-ref-palette-secondary10: #092016;
  --md-ref-palette-secondary20: #1F352B;
  --md-ref-palette-secondary25: #2A4035;
  --md-ref-palette-secondary30: #354B40;
  --md-ref-palette-secondary35: #41574C;
  --md-ref-palette-secondary40: #4D6357;
  --md-ref-palette-secondary50: #657C70;
  --md-ref-palette-secondary60: #7E9689;
  --md-ref-palette-secondary70: #98B1A3;
  --md-ref-palette-secondary80: #B3CCBE;
  --md-ref-palette-secondary90: #CFE9D9;
  --md-ref-palette-secondary95: #DDF7E7;
  --md-ref-palette-secondary98: #E8FFF0;
  --md-ref-palette-secondary99: #F4FFF6;
  --md-ref-palette-secondary100: #FFFFFF;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #00131B;
  --md-ref-palette-tertiary10: #001F29;
  --md-ref-palette-tertiary20: #083544;
  --md-ref-palette-tertiary25: #17404F;
  --md-ref-palette-tertiary30: #244B5B;
  --md-ref-palette-tertiary35: #315767;
  --md-ref-palette-tertiary40: #3D6373;
  --md-ref-palette-tertiary50: #577C8D;
  --md-ref-palette-tertiary60: #7096A8;
  --md-ref-palette-tertiary70: #8AB1C3;
  --md-ref-palette-tertiary80: #A5CCDF;
  --md-ref-palette-tertiary90: #C1E8FC;
  --md-ref-palette-tertiary95: #DFF4FF;
  --md-ref-palette-tertiary98: #F3FAFF;
  --md-ref-palette-tertiary99: #FAFCFF;
  --md-ref-palette-tertiary100: #FFFFFF;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2D0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7E0007;
  --md-ref-palette-error30: #93000A;
  --md-ref-palette-error35: #A80710;
  --md-ref-palette-error40: #BA1A1A;
  --md-ref-palette-error50: #DE3730;
  --md-ref-palette-error60: #FF5449;
  --md-ref-palette-error70: #FF897D;
  --md-ref-palette-error80: #FFB4AB;
  --md-ref-palette-error90: #FFDAD6;
  --md-ref-palette-error95: #FFEDEA;
  --md-ref-palette-error98: #FFF8F7;
  --md-ref-palette-error99: #FFFBFF;
  --md-ref-palette-error100: #FFFFFF;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0E1210;
  --md-ref-palette-neutral10: #191C1A;
  --md-ref-palette-neutral20: #2E312F;
  --md-ref-palette-neutral25: #393C3A;
  --md-ref-palette-neutral30: #444845;
  --md-ref-palette-neutral35: #505350;
  --md-ref-palette-neutral40: #5C5F5C;
  --md-ref-palette-neutral50: #757875;
  --md-ref-palette-neutral60: #8F918E;
  --md-ref-palette-neutral70: #A9ACA8;
  --md-ref-palette-neutral80: #C5C7C3;
  --md-ref-palette-neutral90: #E1E3DF;
  --md-ref-palette-neutral95: #EFF1ED;
  --md-ref-palette-neutral98: #F8FAF6;
  --md-ref-palette-neutral99: #FBFDF9;
  --md-ref-palette-neutral100: #FFFFFF;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #0A130F;
  --md-ref-palette-neutral-variant10: #151D19;
  --md-ref-palette-neutral-variant20: #2A322D;
  --md-ref-palette-neutral-variant25: #353D38;
  --md-ref-palette-neutral-variant30: #404943;
  --md-ref-palette-neutral-variant35: #4B554F;
  --md-ref-palette-neutral-variant40: #57605B;
  --md-ref-palette-neutral-variant50: #707973;
  --md-ref-palette-neutral-variant60: #8A938C;
  --md-ref-palette-neutral-variant70: #A4ADA7;
  --md-ref-palette-neutral-variant80: #BFC9C2;
  --md-ref-palette-neutral-variant90: #DBE5DD;
  --md-ref-palette-neutral-variant95: #EAF3EB;
  --md-ref-palette-neutral-variant98: #F2FCF4;
  --md-ref-palette-neutral-variant99: #F5FFF7;
  --md-ref-palette-neutral-variant100: #FFFFFF;
  /* light */
  --md-sys-color-primary-light: #006C4C;
  --md-sys-color-on-primary-light: #FFFFFF;
  --md-sys-color-primary-container-light: #88F8C7;
  --md-sys-color-on-primary-container-light: #002115;
  --md-sys-color-primary-fixed-light: #88F8C7;
  --md-sys-color-on-primary-fixed-light: #002115;
  --md-sys-color-primary-fixed-dim-light: #6BDBAC;
  --md-sys-color-on-primary-fixed-variant-light: #005139;
  --md-sys-color-secondary-light: #4D6357;
  --md-sys-color-on-secondary-light: #FFFFFF;
  --md-sys-color-secondary-container-light: #CFE9D9;
  --md-sys-color-on-secondary-container-light: #092016;
  --md-sys-color-secondary-fixed-light: #CFE9D9;
  --md-sys-color-on-secondary-fixed-light: #092016;
  --md-sys-color-secondary-fixed-dim-light: #B3CCBE;
  --md-sys-color-on-secondary-fixed-variant-light: #354B40;
  --md-sys-color-tertiary-light: #3D6373;
  --md-sys-color-on-tertiary-light: #FFFFFF;
  --md-sys-color-tertiary-container-light: #C1E8FC;
  --md-sys-color-on-tertiary-container-light: #001F29;
  --md-sys-color-tertiary-fixed-light: #C1E8FC;
  --md-sys-color-on-tertiary-fixed-light: #001F29;
  --md-sys-color-tertiary-fixed-dim-light: #A5CCDF;
  --md-sys-color-on-tertiary-fixed-variant-light: #244B5B;
  --md-sys-color-error-light: #BA1A1A;
  --md-sys-color-on-error-light: #FFFFFF;
  --md-sys-color-error-container-light: #FFDAD6;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-outline-light: #707973;
  --md-sys-color-background-light: #FBFDF9;
  --md-sys-color-on-background-light: #191C1A;
  --md-sys-color-surface-light: #F8FAF6;
  --md-sys-color-on-surface-light: #191C1A;
  --md-sys-color-surface-variant-light: #DBE5DD;
  --md-sys-color-on-surface-variant-light: #404943;
  --md-sys-color-inverse-surface-light: #2E312F;
  --md-sys-color-inverse-on-surface-light: #EFF1ED;
  --md-sys-color-inverse-primary-light: #6BDBAC;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006C4C;
  --md-sys-color-outline-variant-light: #BFC9C2;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-container-highest-light: #E1E3DF;
  --md-sys-color-surface-container-high-light: #E7E9E5;
  --md-sys-color-surface-container-light: #ECEEEA;
  --md-sys-color-surface-container-low-light: #F2F4F0;
  --md-sys-color-surface-container-lowest-light: #FFFFFF;
  --md-sys-color-surface-bright-light: #F8FAF6;
  --md-sys-color-surface-dim-light: #D8DBD7;
  /* dark */
  --md-sys-color-primary-dark: #6BDBAC;
  --md-sys-color-on-primary-dark: #003826;
  --md-sys-color-primary-container-dark: #005139;
  --md-sys-color-on-primary-container-dark: #88F8C7;
  --md-sys-color-primary-fixed-dark: #88F8C7;
  --md-sys-color-on-primary-fixed-dark: #002115;
  --md-sys-color-primary-fixed-dim-dark: #6BDBAC;
  --md-sys-color-on-primary-fixed-variant-dark: #005139;
  --md-sys-color-secondary-dark: #B3CCBE;
  --md-sys-color-on-secondary-dark: #1F352B;
  --md-sys-color-secondary-container-dark: #354B40;
  --md-sys-color-on-secondary-container-dark: #CFE9D9;
  --md-sys-color-secondary-fixed-dark: #CFE9D9;
  --md-sys-color-on-secondary-fixed-dark: #092016;
  --md-sys-color-secondary-fixed-dim-dark: #B3CCBE;
  --md-sys-color-on-secondary-fixed-variant-dark: #354B40;
  --md-sys-color-tertiary-dark: #A5CCDF;
  --md-sys-color-on-tertiary-dark: #083544;
  --md-sys-color-tertiary-container-dark: #244B5B;
  --md-sys-color-on-tertiary-container-dark: #C1E8FC;
  --md-sys-color-tertiary-fixed-dark: #C1E8FC;
  --md-sys-color-on-tertiary-fixed-dark: #001F29;
  --md-sys-color-tertiary-fixed-dim-dark: #A5CCDF;
  --md-sys-color-on-tertiary-fixed-variant-dark: #244B5B;
  --md-sys-color-error-dark: #FFB4AB;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-error-container-dark: #93000A;
  --md-sys-color-on-error-container-dark: #FFDAD6;
  --md-sys-color-outline-dark: #8A938C;
  --md-sys-color-background-dark: #191C1A;
  --md-sys-color-on-background-dark: #E1E3DF;
  --md-sys-color-surface-dark: #111412;
  --md-sys-color-on-surface-dark: #C5C7C3;
  --md-sys-color-surface-variant-dark: #404943;
  --md-sys-color-on-surface-variant-dark: #BFC9C2;
  --md-sys-color-inverse-surface-dark: #E1E3DF;
  --md-sys-color-inverse-on-surface-dark: #191C1A;
  --md-sys-color-inverse-primary-dark: #006C4C;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #6BDBAC;
  --md-sys-color-outline-variant-dark: #404943;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-container-highest-dark: #323633;
  --md-sys-color-surface-container-high-dark: #272B28;
  --md-sys-color-surface-container-dark: #1D201E;
  --md-sys-color-surface-container-low-dark: #191C1A;
  --md-sys-color-surface-container-lowest-dark: #0C0F0D;
  --md-sys-color-surface-bright-dark: #373A37;
  --md-sys-color-surface-dim-dark: #111412;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Nunito;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Nunito;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Nunito;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Nunito;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Nunito;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Nunito;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Nunito;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Nunito;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Nunito;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Nunito;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Nunito;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Nunito;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Nunito;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Nunito;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Nunito;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
