/* /Components/Layout/Header.razor.rz.scp.css */
header[b-5zqfj00ujb] {
    display: flex;
    place-content: space-around;
}

    header > div[b-5zqfj00ujb] {
        border-radius: var(--catalog-shape-xl);
        background-color: var(--md-sys-color-primary);
        padding: var(--catalog-spacing-xl);
        text-align: center;
        color: var(--md-sys-color-on-primary);
    }
/* /Components/Layout/HomeLayout.razor.rz.scp.css */
html[b-2odbutxo0p],
body[b-2odbutxo0p] {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: visible;
    background-repeat: no-repeat;
    height: 100%;
}
/* /Components/Layout/MainLayout.razor.rz.scp.css */
/* Style du layout */
#layout[b-9nlq409jgy] {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main[b-9nlq409jgy] {
    height: calc(100% - 6.8rem);
    padding: 1.5rem;
}

    main > .container[b-9nlq409jgy] {
        height: 100%;
        border-radius: 1.5rem;
        overflow: auto;
    }

@media (min-width: 1025px) {
    main[b-9nlq409jgy] {
        height: calc(100% - 3rem);
        width: 100%;
    }

    #layout[b-9nlq409jgy] {
        flex-direction: row;
    }
}

/* Style de la page de chargement */
#loading[b-9nlq409jgy] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: var(--md-sys-color-surface-container-dark);
    color: var(--md-sys-color-primary-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

    #loading.hide[b-9nlq409jgy] {
        z-index: -9999;
        opacity: 0;
        transition-property: opacity, z-index;
        transition-duration: 0.5s, 0s;
        transition-delay: 0s, 0.5s;
        transition-timing-function: ease-in-out, step-end;
    }

    #loading .loading-text[b-9nlq409jgy] {
        animation: pulse-b-9nlq409jgy 1s infinite;
    }

@media screen and (orientation: portrait) {
    .loading-text[b-9nlq409jgy] {
        font-size: 15vw;
    }
}

@media screen and (orientation: landscape) {
    .loading-text[b-9nlq409jgy] {
        font-size: 10vh;
    }
}

@keyframes pulse-b-9nlq409jgy {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@media (pointer: fine) {
    :root[b-9nlq409jgy] {
        /* firefox */
        scrollbar-color: var(--md-sys-color-primary) var(--md-sys-color-transparent);
        scrollbar-width: thin;
    }

    /* Chromium + Safari */
    [b-9nlq409jgy]::-webkit-scrollbar {
        background-color: var(--md-sys-color-transparent);
        width: 8px;
        height: 8px;
    }

    [b-9nlq409jgy]::-webkit-scrollbar-thumb {
        background-color: var(--md-sys-color-primary);
        border-radius: calc(8px / 2);
    }
}

/* Style du @Body */
.container[b-9nlq409jgy]  > main {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: var(--md-sys-color-surface-bright);
    padding: 2rem;
}

    .container[b-9nlq409jgy]  > main p {
        font-size: 1.5rem;
    }

    .container[b-9nlq409jgy]  > main > header {
        width: 60vw;
        margin: auto;
    }

        .container[b-9nlq409jgy]  > main > header h1 {
            margin: 0;
            margin-bottom: var(--catalog-spacing-xl);
            font-size: 5vw;
        }

        .container[b-9nlq409jgy]  > main > header h4 {
            margin: 0;
            font-size: 2.5vw;
        }

@media(max-width: 1024px) {
    .container[b-9nlq409jgy]  > main > header {
        width: auto;
    }

        .container[b-9nlq409jgy]  > main > header h1 {
            font-size: 7.5vw;
        }

        .container[b-9nlq409jgy]  > main > header h4 {
            font-size: 4vw;
        }
}

/* MIN */
@media(min-width: 769px) {
    .container[b-9nlq409jgy]  > main > header {
        width: 60vw;
        margin: auto;
    }
}

/* MAX */
@media(max-width: 768px) {
    .container[b-9nlq409jgy]  > main > header h1 {
        font-size: 10vw;
    }

    .container[b-9nlq409jgy]  > main > header h4 {
        font-size: 5vw;
    }
}

@media(max-width: 425px) {
    .container[b-9nlq409jgy]  > main > header h1 {
        font-size: 12vw;
    }

    .container[b-9nlq409jgy]  > main > header h4 {
        font-size: 5vw;
    }
}

@media(max-width: 375px) {
    .container[b-9nlq409jgy]  > main > header h1 {
        font-size: 12vw;
    }
}

@media(max-width: 319px) {
    .container[b-9nlq409jgy]  > main > header h4 {
        font-size: 4.6vw;
    }
}

/* Style du message d'erreur */
#blazor-error-ui[b-9nlq409jgy] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-9nlq409jgy] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* /Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-brand[b-e151pu66wm] {
    background-image: url("../ressources/logo.jpg");
    background-size: cover;
    height: 100px;
    width: 100px;
}

nav[b-e151pu66wm] {
    position: inherit;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    background-color: var(--md-sys-color-surface-dim );
    padding: 0rem 10px;
    display: grid;
    grid-auto-flow: column;
}

    nav[b-e151pu66wm] >  md-list {
        background-color: var(--md-sys-color-transparent);
        padding: 0;
    }

        nav[b-e151pu66wm] >  md-list md-list-item {
            background-color: var(--md-sys-color-transparent);
            min-width: 48px;
        }

            nav[b-e151pu66wm] >  md-list md-list-item div {
                display: flex;
                justify-content: center;
                font-weight: bold;
            }

        nav[b-e151pu66wm] >  md-list > a {
            text-decoration: none;
            color: var(--md-sys-color-primary);
        }

            nav[b-e151pu66wm] >  md-list > a .text-menu {
                color: var(--md-sys-color-primary);
            }

            nav[b-e151pu66wm] >  md-list > a:hover md-list-item > .menu-icon,
            nav[b-e151pu66wm] >  md-list > a.active md-list-item > .menu-icon {
                background-color: var(--md-sys-color-primary);
                border-radius: var(--catalog-shape-xl);
                margin: auto;
                width: 48px;
            }

        nav[b-e151pu66wm] >  md-list a:first-child:hover md-list-item > .menu-icon {
            margin: initial;
            width: initial;
        }

        nav[b-e151pu66wm] >  md-list > a:hover svg,
        nav[b-e151pu66wm] >  md-list > a.active md-list-item svg {
            color: var(--md-sys-color-on-primary);
        }

    nav[b-e151pu66wm] >  md-icon-button {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: 10px;
        align-self: flex-end;
    }

        nav[b-e151pu66wm] >  md-icon-button:hover {
            border-radius: var(--catalog-shape-xl);
            background-color: var(--md-sys-color-primary);
        }

            nav[b-e151pu66wm] >  md-icon-button:hover svg {
                color: var(--md-sys-color-on-primary);
            }

svg[b-e151pu66wm] {
    color: var(--md-sys-color-primary);
}

@media (min-width: 1025px) {
    nav[b-e151pu66wm] {
        grid-auto-flow: row;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        border-bottom-left-radius: 0;
        padding: 3px;
    }

        nav[b-e151pu66wm] >  md-list {
            flex-direction: column;
        }

            nav[b-e151pu66wm] >  md-list md-list-item {
                padding: 15px 2px;
            }

            nav[b-e151pu66wm] >  md-list a div {
                font-size: 14px;
            }

                nav[b-e151pu66wm] >  md-list a div.text-menu {
                    width: max-content;
                    margin: auto;
                }

        nav[b-e151pu66wm] >  md-icon-button {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            align-self: flex-end;
        }
}

@media(max-width: 1024px) {
    nav[b-e151pu66wm] {
        padding: 0;
    }

        nav[b-e151pu66wm] >  md-list {
            display: grid;
            grid-auto-flow: column;
        }

            nav[b-e151pu66wm] >  md-list a:first-child svg {
                width: 50px;
                height: 50px;
            }
}

@media(max-width: 518px) {

    nav[b-e151pu66wm] >  md-list svg {
        width: calc(32px * 0.79);
    }

    nav[b-e151pu66wm] >  md-list a div {
        font-size: 3vw;
    }
}

@media(max-width: 320px) {
    nav[b-e151pu66wm] >  md-list a div {
        font-size: 2.8vw;
    }
}
/* /Components/Pages/AboutMe.razor.rz.scp.css */
article[b-2y6a2k8kwj] {
    display: flex;
}

    article > div[b-2y6a2k8kwj] {
        margin: auto;
        padding: 2rem 0.5rem 0 0.5rem;
    }

        article > div > p[b-2y6a2k8kwj] {
            margin: 0;
            text-align: justify;
            text-indent: 50px;
        }

.links[b-2y6a2k8kwj] {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto 0.5rem auto 2rem;
}

    .links > div[b-2y6a2k8kwj] {
        margin: 1rem 0;
    }

    .links svg[b-2y6a2k8kwj] {
        color: var(--md-sys-color-primary);
    }

    .links md-filled-tonal-button div[b-2y6a2k8kwj] {
        padding: 0.5rem;
    }

    .links[b-2y6a2k8kwj]  md-filled-tonal-button {
        height: auto;
    }

    .links p[b-2y6a2k8kwj] {
        margin: auto;
        font-size: 1.8rem;
        color: var(--md-sys-color-primary);
        text-align: center;
        align-items: center;
    }

@media (max-width: 1024px) {
    main[b-2y6a2k8kwj] {
        padding: 0 5vw;
    }

    article[b-2y6a2k8kwj] {
        flex-direction: column;
    }
}
/* /Components/Pages/Contact.razor.rz.scp.css */
article[b-cyau3x27z8] {
    display: flex;
    flex-direction: column;
}

    article > div > p[b-cyau3x27z8] {
        text-align: center;
    }

    article[b-cyau3x27z8] >  a {
        margin: 1rem auto;
    }

    article[b-cyau3x27z8] >  svg {
        margin-right: 0.5rem;
    }

    article > p[b-cyau3x27z8] {
        margin-block-end: 0;
        text-indent: 50px;
    }

    article > .links[b-cyau3x27z8] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem auto;
        width: 50%;
    }

        article > .links div[b-cyau3x27z8] {
            display: flex;
        }

[b-cyau3x27z8] .btn-contact > div {
    flex-direction: row;
    align-items: center;
}

[b-cyau3x27z8] svg {
    color: var(--md-sys-color-primary);
}

[b-cyau3x27z8] p {
    color: var(--md-sys-color-primary);
}

@media (max-width: 768px) {
    main[b-cyau3x27z8] {
        padding: 0 5vw;
    }

    .links[b-cyau3x27z8] {
        justify-content: center !important;
    }
}

@media (max-width: 425px) {
    .links[b-cyau3x27z8] {
        flex-direction: column !important;
    }
}
/* /Components/Pages/Home.razor.rz.scp.css */
@media screen and (orientation: portrait) {
    body[b-6vv00gn9dc] {
        overflow: auto;
    }

    #background[b-6vv00gn9dc] {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
    }
}

@media screen and (orientation: landscape) {
    #background[b-6vv00gn9dc] {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        min-width: 955px;
        width: calc(100% - 25vw);
        height: auto;
        margin: auto;
    }
}

#logo[b-6vv00gn9dc] {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 10px;
    width: 10%;
    height: auto;
    z-index: 1;
    border-radius: 20px;
    background-color: var(--md-sys-color-secondary-container);
    /* effet d'ombre */
    transform: scale(1);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 25%);
    transform-origin: left top;
    transition: transform 0.5s, box-shadow 0.5s;
}

    #logo:hover[b-6vv00gn9dc] {
        transform: scale(1.5);
        transform-origin: left top;
        box-shadow: 0px 0px 25px 25px rgba(0, 0, 0, 25%);
        transition: transform 0.5s, box-shadow 0.5s;
    }

    #logo > *[b-6vv00gn9dc] {
        width: 100%;
        height: auto;
    }

#hint[b-6vv00gn9dc] {
    display: none;
}

.arrow[b-6vv00gn9dc] {
    display: none;
    position: fixed;
    align-items: center;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    z-index: 1;
    border-radius: 50%;
    background-color: rgba(23, 26, 43, 25%);
    /* effet d'ombre */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 75%);
}

.arrow-left[b-6vv00gn9dc] {
    left: 0;
}

.arrow-right[b-6vv00gn9dc] {
    right: 0;
}

@media screen and (max-width: 768px) {
    /* Suppression du padding sur smartphone */
    #logo[b-6vv00gn9dc] {
        width: 100px;
        padding: 5px;
    }

    #hint[b-6vv00gn9dc] {
        position: fixed;
        top: 10px;
        right: 10px;
        max-width: calc(100% - 140px);
        height: auto;
        z-index: 1;
    }

        #hint[b-6vv00gn9dc] >  * {
            background-color: rgba(0, 125, 125, 50%);
            color: white;
            font-size: 1.5em;
            font-weight: bold;
            text-align: center;
            border-radius: 20px;
            padding: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 50%);
        }

    /* On affiche les flèches de navigation sur smartphone */
    .arrow[b-6vv00gn9dc] {
        display: flex;
    }
}

/* Effet de dégradé du #background vers le body */
[b-6vv00gn9dc] > #background {
    transform: scale(1);
    transition: transform 0.5s, box-shadow 0.5s;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 25%);
}

[b-6vv00gn9dc] > #developer,
[b-6vv00gn9dc] > #developer > div,
[b-6vv00gn9dc] > #screen1,
[b-6vv00gn9dc] > #screen3 {
    position: absolute;
    display: block;
}

/* Zoom de #background lorsque #developer est hover */
main:has(#developer:hover) #background[b-6vv00gn9dc] {
    transform: scale(1.1);
    transition: transform 0.5s, box-shadow 0.5s;
    transform-origin: center center;
    box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 25%);
}

/* Zoom de #background lorsque #screen3 est hover */
main:has(#screen3:hover) #background[b-6vv00gn9dc] {
    transform: scale(1.1);
    transition: transform 0.5s, box-shadow 0.5s;
    transform-origin: right center;
    box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 25%);
}

/* Zoom de #background lorsque #screen1 est hover */
main:has(#screen1:hover) #background[b-6vv00gn9dc] {
    transform: scale(1.1);
    transition: transform 0.5s, box-shadow 0.5s;
    transform-origin: left center;
    box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 25%);
}

footer[b-6vv00gn9dc] {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

    footer > span[b-6vv00gn9dc] {
        background-color: rgba(23, 26, 43, 50%);
        border-radius: 20px;
        padding: 0 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 75%);
        color: #D8DBD7;
    }
/* /Components/Pages/MyWork.razor.rz.scp.css */
article[b-50lanv7rbu] {
    display: flex;
    flex-direction: column;
}

    article[b-50lanv7rbu] >  a {
        margin-top: 1rem;
        align-self: center;
    }

    article > p[b-50lanv7rbu] {
        margin-block-end: 0;
        text-indent: 50px;
    }

[b-50lanv7rbu] .btn-contact > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-contact svg[b-50lanv7rbu] {
    color: var(--md-sys-color-primary);
    margin-right: 0.5rem;
}

.btn-contact p[b-50lanv7rbu] {
    color: var(--md-sys-color-primary);
}

@media (max-width: 768px) {
    main[b-50lanv7rbu] {
        padding: 0 5vw;
    }
}
