
<header>
    <div class="display-large" @attributes="@CapturedAttributes">
        @ChildContent
    </div>
</header>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> CapturedAttributes { get; set; } = new();
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}