header {
    display: flex;
    place-content: space-around;
}

    header > div {
        border-radius: var(--catalog-shape-xl);
        background-color: var(--md-sys-color-primary);
        padding: var(--catalog-spacing-xl);
        text-align: center;
        color: var(--md-sys-color-on-primary);
    }
