@inject NavigationManager NavigationManager

<nav>
    <List>
        <NavLink href="" Match="NavLinkMatch.All">
            <ListItem>
                <div class="menu-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 193 150"><g transform="translate(0.000000,150.000000) scale(0.100000,-0.100000)" fill="currentColor" stroke="none"><path d="M460 1477 c-24 -12 -26 -19 -36 -147 -20 -241 -49 -363 -99 -416 -50 -53 -100 -45 -193 32 -59 47 -63 49 -93 34 -13 -7 -19 -21 -19 -45 0 -27 8 -40 41 -69 108 -92 232 -109 321 -43 32 24 80 112 102 187 18 64 42 225 52 356 6 88 6 92 -17 108 -28 19 -27 19 -59 3z" /><path d="M1789 1432 c-26 -26 -94 -110 -152 -188 -102 -135 -133 -171 -141 -163 -2 2 -32 81 -66 176 -72 198 -88 222 -144 203 -40 -13 -42 -18 -50 -120 -3 -36 -28 -154 -55 -263 -56 -215 -61 -265 -33 -290 45 -41 80 -12 97 83 30 166 82 393 87 384 3 -5 18 -48 32 -96 37 -123 61 -174 90 -193 22 -15 27 -15 53 -1 40 20 93 80 198 223 49 67 91 120 93 119 1 -2 -6 -66 -17 -142 -28 -195 -35 -303 -22 -337 15 -39 53 -54 85 -34 24 16 24 19 24 139 -1 74 8 198 22 311 24 186 24 188 4 206 -38 37 -57 34 -105 -17z" /><path d="M855 1461 c-153 -19 -287 -69 -293 -110 -4 -27 14 -51 39 -51 12 0 19 -7 19 -18 0 -35 -42 -318 -56 -381 -18 -77 -11 -119 22 -131 30 -12 70 2 77 27 3 10 8 50 12 88 13 147 58 431 70 451 17 27 84 44 169 44 55 0 67 -3 80 -21 33 -48 -40 -132 -170 -194 -63 -30 -74 -38 -74 -60 0 -38 40 -50 98 -30 68 23 99 19 133 -14 36 -36 38 -77 7 -117 -53 -67 -109 -99 -193 -107 -45 -5 -64 -11 -78 -28 -42 -52 12 -88 102 -70 155 31 301 162 301 270 0 55 -34 107 -87 133 l-48 23 67 65 c62 60 68 69 68 106 0 99 -99 146 -265 125z" /><path d="M1755 715 c-23 -24 -70 -96 -106 -160 -135 -244 -202 -356 -210 -348 -14 16 -119 292 -148 393 -16 56 -34 107 -39 112 -18 18 -108 17 -257 -3 -82 -12 -172 -19 -200 -16 -83 8 -111 -17 -84 -76 12 -27 -15 -256 -52 -431 -34 -165 -22 -175 171 -152 69 8 161 18 205 21 107 9 127 18 123 52 -5 47 -36 53 -173 32 -66 -10 -144 -18 -172 -18 -52 -1 -53 0 -53 27 0 55 23 143 39 151 9 5 79 16 156 26 150 18 185 32 185 69 0 40 -47 49 -155 31 -126 -21 -185 -20 -185 2 0 49 35 173 49 177 33 10 188 26 251 26 l65 0 32 -82 c110 -291 184 -474 197 -486 11 -12 20 -12 50 -2 29 9 42 22 60 58 30 63 246 419 307 508 53 76 60 107 30 124 -32 17 -43 12 -86 -35z" /><path d="M250 710 c-52 -5 -112 -6 -132 -3 -30 4 -41 1 -63 -21 -32 -32 -29 -56 8 -74 32 -15 31 -12 12 -122 -8 -47 -21 -153 -29 -237 -8 -83 -20 -161 -26 -172 -13 -25 0 -55 31 -71 16 -9 33 -5 87 19 37 16 96 37 132 46 86 21 172 62 245 118 105 79 149 157 148 262 0 85 -19 131 -74 185 -68 65 -162 85 -339 70z m220 -102 c56 -29 81 -64 87 -121 8 -64 -3 -107 -38 -161 -45 -67 -126 -121 -236 -156 -136 -44 -133 -45 -133 45 0 88 38 375 52 392 12 15 43 20 143 22 66 1 89 -3 125 -21z" /></g></svg>
                </div>
            </ListItem>
        </NavLink>
        <NavLink href="AboutMe">
            <ListItem>
                <div class="menu-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M23 9A7 7 0 1 1 9 9a7 7 0 0 1 14 0Zm-2 0a5 5 0 1 0-10 0a5 5 0 0 0 10 0ZM7.5 18A3.5 3.5 0 0 0 4 21.5v.5c0 2.393 1.523 4.417 3.685 5.793C9.859 29.177 12.802 30 16 30c3.198 0 6.14-.823 8.315-2.207C26.477 26.417 28 24.393 28 22v-.5a3.5 3.5 0 0 0-3.5-3.5h-17ZM6 21.5A1.5 1.5 0 0 1 7.5 20h17a1.5 1.5 0 0 1 1.5 1.5v.5c0 1.473-.94 2.949-2.759 4.106C21.434 27.256 18.877 28 16 28s-5.434-.744-7.241-1.894C6.939 24.95 6 23.472 6 22v-.5Z" /></svg>
                </div>
                <div class="text-menu">Qui suis-je ?</div>
            </ListItem>
        </NavLink>
        <NavLink href="MyWork">
            <ListItem>
                <div class="menu-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M6 8a3 3 0 0 1 3-3h16a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-8v-2h8a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1H7c-.345 0-.68.044-1 .126V8Zm23 17H17v-2h12a1 1 0 1 1 0 2ZM9 25a1 1 0 1 0 0-2a1 1 0 0 0 0 2ZM3 13a3 3 0 0 1 3-3h6a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V13Zm3-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V13a1 1 0 0 0-1-1H6Z" /></svg>
                </div>
                <div class="text-menu">Mes réalisations</div>
            </ListItem>
        </NavLink>
        <NavLink href="Contact">
            <ListItem>
                <div class="menu-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M18 13a1 1 0 0 1 1-1h6a1 1 0 0 1 0 2h-6a1 1 0 0 1-1-1Zm1 4a1 1 0 1 0 0 2h6a1 1 0 0 0 0-2h-6Zm-6-4a2 2 0 1 1-4 0a2 2 0 0 1 4 0Zm-6 4.5A1.5 1.5 0 0 1 8.5 16h5a1.5 1.5 0 0 1 1.5 1.5s0 3.5-4 3.5s-4-3.5-4-3.5ZM2 7.25A3.25 3.25 0 0 1 5.25 4h21.5A3.25 3.25 0 0 1 30 7.25v17.5A3.25 3.25 0 0 1 26.75 28H5.25A3.25 3.25 0 0 1 2 24.75V7.25ZM5.25 6C4.56 6 4 6.56 4 7.25v17.5c0 .69.56 1.25 1.25 1.25h21.5c.69 0 1.25-.56 1.25-1.25V7.25C28 6.56 27.44 6 26.75 6H5.25Z" /></svg>
                </div>
                <div class="text-menu">Me contacter</div>
            </ListItem>
        </NavLink>
    </List>
    <IconButton @onclick="SwitchTheme">
        <svg class="light-theme @(GetThemeVilibility!(MainLayout.Themes.light))" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2a1 1 0 0 1 1 1v2a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1Zm0 21a7 7 0 1 0 0-14a7 7 0 0 0 0 14Zm0-2a5 5 0 1 1 0-10a5 5 0 0 1 0 10Zm13-4a1 1 0 0 0 0-2h-2a1 1 0 1 0 0 2h2Zm-13 9a1 1 0 0 1 1 1v2a1 1 0 0 1-2 0v-2a1 1 0 0 1 1-1ZM5 17a1 1 0 1 0 0-2H3a1 1 0 1 0 0 2h2Zm.294-11.706a1 1 0 0 1 1.414 0l2 2a1 1 0 1 1-1.414 1.414l-2-2a1 1 0 0 1 0-1.414Zm1.414 21.414a1 1 0 0 1-1.414-1.414l2-2a1 1 0 1 1 1.414 1.414l-2 2Zm20-21.414a1 1 0 0 0-1.414 0l-2 2a1 1 0 0 0 1.414 1.414l2-2a1 1 0 0 0 0-1.414Zm-1.414 21.414a1 1 0 0 0 1.414-1.414l-2-2a1 1 0 1 0-1.414 1.414l2 2Z" /></svg>
        <svg class="dark-theme @(GetThemeVilibility!(MainLayout.Themes.dark))" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 48 48"><path fill="currentColor" d="M37.903 33.01c-4.971 8.608-15.98 11.558-24.589 6.588a17.934 17.934 0 0 1-5.821-5.368a1.35 1.35 0 0 1 .656-2.036c6.78-2.427 10.412-5.24 12.52-9.262c2.218-4.235 2.791-8.873 1.24-15.232a1.35 1.35 0 0 1 1.383-1.668c2.802.15 5.54.956 8.022 2.389c8.61 4.97 11.56 15.979 6.589 24.588Zm-15.02-8.918C20.58 28.49 16.771 31.523 10.457 34a15.473 15.473 0 0 0 4.107 3.434c7.414 4.28 16.893 1.74 21.173-5.674c4.28-7.413 1.74-16.893-5.673-21.173a15.477 15.477 0 0 0-4.907-1.818l-.468-.08c1.193 5.967.591 10.829-1.806 15.404Z" /></svg>
    </IconButton>
</nav>

<template id="list-item-template">
    <style>
        md-item {
            padding: 5px 0 0 0 !important;
        }
    </style>
</template>

<script>
    // https://developer.mozilla.org/en-US/docs/Web/API/Web_components/Using_shadow_DOM#adding_style_elements_in_template_declarations
    window.injectShadowCss = () => {
        try {
            var timeout = 0;
            var r = setInterval(function () {
                try {
                    var firstShadowRootParent = jq("#layout > nav > md-list > a > md-list-item")[0];
                    var shadowRoot = jq(firstShadowRootParent ? firstShadowRootParent.shadowRoot : undefined);
                    if (shadowRoot.has('li').length && !shadowRoot.has('style').length) {
                        console.log("Injecting shadowCss");
                        jq("#layout > nav > md-list > a > md-list-item").each((_, e) => e.shadowRoot.appendChild(jq("#list-item-template")[0].content.cloneNode(true)));
                    }
                    timeout++;
                    if (timeout >= 50) {
                        clearInterval(r);
                    }
                } catch (e) {
                    console.error(e);
                }
            }, 10);
        } catch (e) {
            console.error(e);
        }
    };
</script>

@code {
    [Parameter]
    public EventCallback SwitchTheme { get; set; }

    [Parameter]
    public Func<MainLayout.Themes, string>? GetThemeVilibility { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Js.InvokeVoidAsync("injectShadowCss");
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}