.navbar-brand {
    background-image: url("../ressources/logo.jpg");
    background-size: cover;
    height: 100px;
    width: 100px;
}

nav {
    position: inherit;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    background-color: var(--md-sys-color-surface-dim );
    padding: 0rem 10px;
    display: grid;
    grid-auto-flow: column;
}

    nav > ::deep md-list {
        background-color: var(--md-sys-color-transparent);
        padding: 0;
    }

        nav > ::deep md-list md-list-item {
            background-color: var(--md-sys-color-transparent);
            min-width: 48px;
        }

            nav > ::deep md-list md-list-item div {
                display: flex;
                justify-content: center;
                font-weight: bold;
            }

        nav > ::deep md-list > a {
            text-decoration: none;
            color: var(--md-sys-color-primary);
        }

            nav > ::deep md-list > a .text-menu {
                color: var(--md-sys-color-primary);
            }

            nav > ::deep md-list > a:hover md-list-item > .menu-icon,
            nav > ::deep md-list > a.active md-list-item > .menu-icon {
                background-color: var(--md-sys-color-primary);
                border-radius: var(--catalog-shape-xl);
                margin: auto;
                width: 48px;
            }

        nav > ::deep md-list a:first-child:hover md-list-item > .menu-icon {
            margin: initial;
            width: initial;
        }

        nav > ::deep md-list > a:hover svg,
        nav > ::deep md-list > a.active md-list-item svg {
            color: var(--md-sys-color-on-primary);
        }

    nav > ::deep md-icon-button {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: 10px;
        align-self: flex-end;
    }

        nav > ::deep md-icon-button:hover {
            border-radius: var(--catalog-shape-xl);
            background-color: var(--md-sys-color-primary);
        }

            nav > ::deep md-icon-button:hover svg {
                color: var(--md-sys-color-on-primary);
            }

svg {
    color: var(--md-sys-color-primary);
}

@media (min-width: 1025px) {
    nav {
        grid-auto-flow: row;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        border-bottom-left-radius: 0;
        padding: 3px;
    }

        nav > ::deep md-list {
            flex-direction: column;
        }

            nav > ::deep md-list md-list-item {
                padding: 15px 2px;
            }

            nav > ::deep md-list a div {
                font-size: 14px;
            }

                nav > ::deep md-list a div.text-menu {
                    width: max-content;
                    margin: auto;
                }

        nav > ::deep md-icon-button {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            align-self: flex-end;
        }
}

@media(max-width: 1024px) {
    nav {
        padding: 0;
    }

        nav > ::deep md-list {
            display: grid;
            grid-auto-flow: column;
        }

            nav > ::deep md-list a:first-child svg {
                width: 50px;
                height: 50px;
            }
}

@media(max-width: 518px) {

    nav > ::deep md-list svg {
        width: calc(32px * 0.79);
    }

    nav > ::deep md-list a div {
        font-size: 3vw;
    }
}

@media(max-width: 320px) {
    nav > ::deep md-list a div {
        font-size: 2.8vw;
    }
}
